/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

table {
  margin: 0 auto;
  border-collapse:collapse;
}

main {text-align: center;}
td,th {  font-size: 12pt; padding: 10px 15px;}
th {background-color: #333; color: white;}
tr:nth-child(odd) { background-color: whitesmoke;}
tr:nth-child(even) { background-color: white;}

.field {
  input[type=text],textarea{ width: 800px; padding: 10px; box-sizing: border-box;}
  textarea {height: 200px;}
 }
